<html>
    <head>
        <title>Magic Conch Shell Bot</title>
    </head>

    <body>
        <img src="/assets/images/meme.jpg" alt="Look at me [Reddit]. I'm [Magic Conch Shell Bot] the captain now." />
        <p>Check us out on <a href="https://github.com/youkergav/MagicConchShellBot/" target="_new">GitHub</a></p>
    </body>
</html>